.educations-section {
    margin-top: 3rem;
}

.schools {
    margin-top: 1rem;
    padding-left: 3rem;
    border-left: 2px dotted gray;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.edit-school-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-school-section .delete-icon {
    margin-left: auto;
}

.dateOfStudy-text {
    font-weight: bold;
}

.school-section p {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-top: .2rem;
}

.studyTitle-text {
    color: green;
    font-weight: bold;
}

.schoolName-text {
    font-weight: bold;
    color: rgb(134, 134, 134);
}

.schoolUI {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.school-section {
    margin-right: auto;
 }


.school-form {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.school-form input {
    width: 100%;
    padding: .5rem;
    margin-bottom: .3rem;
    font-family: inherit;
}
 
.school-form .button-section {
    display: flex;
    gap: .5rem;
}

.school-form button {
    width: 10rem;
    padding: .3rem;
}