.experiences-section {
    margin-top: 3rem;
}


.jobs {
    padding-left: 3rem;
    border-left: 2px dotted gray;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dates-text {
    font-weight: bold;
}

.jobTitle-text {
    color: green;
    font-weight: bold;
}


.job-section p {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin-bottom: .4rem;
    margin-top: .1rem;
}

.companyName-text {
    font-weight: bold;
    color: rgb(134, 134, 134);
}

.jobUI {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job-section {
   margin-right: auto;
}

.edit-experience-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-experience-section .delete-icon {
    margin-left: auto;
    width: 1.5rem;
}

.experience-form {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    gap: .5rem;
}

.experience-form input {
    padding: .5rem;
    font-family: inherit;
}

.experience-form .button-section {
    margin: auto;
    display: flex;
    gap: .5rem;
}

.experience-form button {
    padding: .4rem;
    width: 10rem;
}

