header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 4rem;
    background-color: rgb(59, 59, 59);
    color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

header h1 {
    text-align: center;
}

.preview-edit-btn {
    margin-left: auto;
}

.preview-edit-btn button {
    padding: .5rem;
    cursor: pointer;
    font-family: inherit;
}